.permissionsSplash {
  background-color: lightgray;
  width: 20%;
  margin: auto;
  padding: 0.5rem 1.5rem;
}

.permissionsSplash section {
  display: flex;
  justify-content: space-between;
}

.permissionsSplash button {
  width: 100%;
  border: 0;
  color: purple;
  background-color: darkgray;
  cursor: pointer;
}

.permissionsSplash button:hover {
  background-color: gray;
  color: white;
}

.labelText {
  color: gray;
}

.status {
  color: gray;
}

.valid {
  color: green;
}

.invalid {
  color: darkred;
}
